node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
dist/
.env
*.jpg
.DS_Store

# すべてのJSONファイルを無視
*.json

# ただし、package.jsonとpackage-lock.jsonは例外として追跡
!package.json
!package-lock.json
